@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

:root{
    --fonte-principal: 'Roboto', sans-serif;
    --cor-principal: #000000;
}

*{
    padding: 0;
    margin: 0;
}

body{
    margin: 25px;
}

.container{
    display: flex;
    flex-direction: column;
    width: 250px;
}

.container__titulo{
    font-family: var(--fonte-principal);
    font-size: 24px;
    font-weight: 700;
    color: var(--cor-principal);
}

.container__label{
    margin-top: 15px;
    font-family: var(--fonte-principal);
    font-size: 16px;
    color: var(--cor-principal);
}

.container__botao{
    display: flex;
    justify-content: center;
}

.botao{
    margin-top: 15px;
    padding: 5px;
    width: fit-content;
    font-family: var(--fonte-principal);
}

.resultado__section{
    display: flex;
    justify-content: center;
    width: 250px;
    margin-top: 15px;
}

.resultado__texto{
    font-family: var(--fonte-principal);
    font-size: 18px;
    color: var(--cor-principal);
}